/*global*/
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

/* Style of the nav background*/

header{
    background: #FCFCFC;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1)
}

/* Style the topnav links */

 #nav{
    display: flex;
    padding: 15px 0;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: #0A0A0A
}

#navbar{
    display: flex;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

#navbar a:link{
    text-decoration: none;
}

#navbar a{
    color: #0A0A0A;

}

#navbar li{
    padding: 0 35px;
} 

/* Style background header part */
#header{
    display: flex;
    align-items: center;
}

#intro{
    background-color: #F6F6F6;
}

#intro div{
    padding: 30px 100px;
}

#intro h1{
    color: #0A0A0A;
    font-size: 48px;
}

#intro h3{
    padding: 20px 0;
    color: #303030;
    font-weight: 400;
    font-size: 20px;
}

#intro button{
    padding: 10px 30px;
    background-color: #48A7A7;
    color: #F5F5F5;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

#intro button:hover{
    background-color: #3b9898;
    cursor: pointer;
}



/* About Us Style*/

#about-us{
    background-color: #AAD7D9;
}

#about-us #text{
    padding: 30px 100px;
}

#about-us h4{
    color: #0A0A0A;
    font-size: 25px;
}

#about-us p{
    color: #303030;
    font-size: 16px;
}

#about-us ul{
    list-style-type: none;
    text-decoration: none;
}

/* Provision Style*/

#provision{
    padding: 30px 100px;

    background-color: #FEFEFE;
}

#provision h4{
    color: #0A0A0A;
    font-size: 25px;
}

#provision p{
    color: #303030;
    font-size: 17px;
}

/* Achievments Style*/

#achievments{
    background-color: #AAD7D9;
}

#achievments h4{
    color: #0A0A0A;
    font-size: 25px;
}

#achievments p{
    color: #303030;
    font-size: 16px;
}

/* Benefits Style*/

#benefits h4{
    color: #0A0A0A;
    font-size: 25px;
}

#benefits p{
    color: #050505;
    font-size: 16px;
}

/* Donation Style*/

#donation{
    background-color: #F6F6F6;
}

#donation h4{
    color: #050505;
    font-size: 26px;
}

#donation p{
    color: #303030;
    font-size: 20px;
}

/* Adoption Style*/

#adoption{
    background-color: #AAD7D9;
}

#adoption h4{
    color: #050505;
    font-size: 25px;
}

#adoption p{
    color: #303030;
    font-size: 16px;
}

#adoption button{
    padding: 7px 20px;
    background-color: #F5F5F5;
    color: #48A7A7;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 600;
}

/* Contacts Style*/

#contacts{
    background-color: #F6F6F6;
}

#contacts h4{
    color: #050505;
    font-size: 25px;
}

#contacts p{
    color: #303030;
    font-size: 16px;
}

.social{
    height: 20px;
    width: 20px;
}

/* Footer Style*/

footer{
    display: flex;
    justify-content: center;
    background-color: #48A7A7;
    font-size: 20px;
}