/*global*/
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

/* Style of the nav background*/

header{
    background: #FCFCFC;
    box-shadow: 0px 2px 15.8px 0px rgba(153,153,153,1);
}

/* Style the topnav links */

#nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

/* Style background header part */

#intro{
    background-color: #F6F6F6;
}

#intro h1{
    color: #0f0f0f;
    font-size: 64px;
}

#intro h3{
    color: #0f0f0f;
    font-weight: 400;
    font-size: 24px;
}

#intro button{
    padding: 7px 12px;
    background-color: #48A7A7;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

/* About Us Style*/

#bio{
    background-color: #AAD7D9;
}

#bio h4{
    font-size: 36px;
}

#bio p{
    color: #303030;
    font-size: 20px;
}

#bio ul{
    list-style-type: none;
    text-decoration: none;
}

/* Provision Style*/

#provision{
    background-color: #FEFEFE;
}

#provision h4{
    font-size: 36px;
}

#provision p{
    color: #303030;
    font-size: 20px;
}

/* Achievments Style*/

#achievments{
    background-color: #AAD7D9;
}

#achievments h4{
    font-size: 36px;
}

#achievments p{
    color: #303030;
    font-size: 20px;
}

/* Benefits Style*/

#benefits h4{
    font-size: 36px;
}

#benefits p{
    color: #303030;
    font-size: 20px;
}

/* Donation Style*/

#donation{
    background-color: #F6F6F6;
}

#donation h4{
    font-size: 36px;
}

#donation p{
    color: #303030;
    font-size: 20px;
}

/* Adoption Style*/

#adoption{
    background-color: #AAD7D9;
}

#adoption h4{
    font-size: 36px;
}

#adoption p{
    color: #303030;
    font-size: 20px;
}

#adoption button{
    padding: 7px 12px;
    background-color: #F5F5F5;
    color: #48A7A7;
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 600;
}

/* Contacts Style*/

#contacts{
    background-color: #F6F6F6;
}

#contacts h4{
    font-size: 36px;
}

#contacts p{
    color: #303030;
    font-size: 20px;
}

/* Footer Style*/

footer{
    display: flex;
    justify-content: center;
    background-color: #48A7A7;
    font-size: 20px;
}