/*global*/
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

/* Style of the nav background*/

header{
    background: #FCFCFC;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1)
}

/* Style the topnav links */

 #nav{
    display: flex;
    padding: 15px 0;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    color: #0A0A0A
}

#navbar{
    display: flex;
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

#navbar a:link{
    text-decoration: none;
}

#navbar a{
    color: #0A0A0A;

}

#navbar li{
    padding: 0 35px;
} 

/* Style background header part */
#header{
    display: flex;
    align-items: center;
}

#intro{
    background-color: #F6F6F6;
}

#sec{
    padding: 0 160px;
}

#intro h1{
    color: #0A0A0A;
    font-size: 48px;
}

#intro h3{
    padding: 20px 0;
    color: #303030;
    font-weight: 400;
    font-size: 20px;
}

#intro button{
    padding: 10px 30px;
    background-color: #48A7A7;
    color: #F5F5F5;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

#intro button:hover{
    background-color: #3b9898;
    cursor: pointer;
}

#dog{
    max-width: 700px;
    min-width: 200px;
}

/* About Us Style*/

#about-us{
    display: flex;
    padding: 100px;
    background-color: #AAD7D9;
}

#about-us #text{
    padding: 30px 100px;
}

#about-us h4{
    color: #0A0A0A;
    font-size: 25px;
}

#about-us p{
    padding: 20px 0;
    color: #303030;
    font-size: 16px;
}

#about-us ul{
    list-style-type: none;
    text-decoration: none;
}

#two-pets{
    border-radius: 8px;
    max-width: 500px;
    min-width: 400px;
}

/* Provision Style*/

#provision{
    padding: 30px 100px;
    text-align: center;
    background-color: #FEFEFE;
}

#provision h4{
    color: #0A0A0A;
    font-size: 25px;
}

#provision p{
    color: #303030;
    font-size: 17px;
}

#cards{
    display: flex;
    padding: 50px;
    max-width: 1300px;
    min-width: 500px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
    padding: 20px;
    border: 1px solid grey;
    background: aliceblue;
    border-radius: 10px;
}

.card img{
    max-width: 50px;
    min-width: 20px;
}

.card h5{
    padding: 10px 0;
    font-size: 24px;
    font-weight: 600;
}

/* Achievments Style*/

#achievments{
    background-color: #AAD7D9;
}

#achievments h4{
    color: #0A0A0A;
    font-size: 25px;
}

#achievments p{
    color: #303030;
    font-size: 16px;
}

/* Benefits Style*/

#benefits{
    display: flex;
}

#benefits h4{
    color: #0A0A0A;
    font-size: 25px;
}

#benefits p{
    color: #050505;
    font-size: 16px;
}

/* Donation Style*/

#donation{
    background-color: #F6F6F6;
}

#donation h4{
    color: #050505;
    font-size: 26px;
}

#donation p{
    color: #303030;
    font-size: 20px;
}

/* Adoption Style*/

#adoption{
    display: flex;
    padding: 40px 80px;
    background-color: #AAD7D9;
}

#adoption h4{
    color: #050505;
    font-size: 25px;
}

#adoption p{
    padding: 20px 0;
    color: #303030;
    font-size: 16px;
}

#adoption button{
    padding: 10px 30px;
    background-color: #F5F5F5;
    color: #48A7A7;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

#adoption button:hover{
    background-color: #ededed;
    cursor: pointer;
}

/* Contacts Style*/

#contacts{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #F6F6F6;
}

#contacts ul{
    padding: 0 50px;
    list-style-type: none
}

#contacts h4{
    color: #050505;
    font-size: 25px;
}

#contacts p{
    color: #303030;
    font-size: 16px;
}

.social{
    height: 20px;
    width: 20px;
}

/* Footer Style*/

footer{
    display: flex;
    justify-content: center;
    background-color: #48A7A7;
    font-size: 20px;
}

/* Progress Bar Animation */

.progress-bar {
    position: fixed;
    width: 100%;
    height: 5px;
    background-color: #e5e5e5;
}

.filled{
    width: 10%;
    height: 100%;
    background-color: #222222;
}

/* @keyframes scaleProgress {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  } */